.about {
  display: flex;
  align-self: center;
  flex-direction: column;

  @media (--screen-md-min) {
    flex-direction: row;
  }

  &__container {
    display: flex;
    min-height: 100vh;
  }

  &__title {
    font-size: var(--font-size-3xl);
    color: var(--grey-light);
    font-weight: var(--font-weight-medium);

    &--highlight {
      color: var(--accent-primary);
    }
  }

  &__img {
    object-fit: cover;
    border-radius: var(--border-radius-sm);
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: var(--spacing-24);
    height: 250px;

    &--wrapper {
      margin-right: var(--spacing-64);
      margin-top: var(--spacing-64);
    }
  }

  &__content {
    color: var(--white);
    flex: 1.5;
    line-height: 2;

    &--text {
      margin-bottom: var(--spacing-20);
      color: var(--grey-light);
    }

    a {
      text-decoration: underline;
      color: var(--accent-primary);
    }
  }

  .tools {
    margin-top: var(--spacing-16);

    &__tool {
      display: inline-flex;
      align-items: center;
      border: 1px solid rgba(150 150 150 / 28%);
      margin-right: var(--spacing-10);
      margin-bottom: var(--spacing-10);
      font-size: var(--font-size-xs);
      background: var(--dark-tertiary);
      padding: var(--spacing-6) var(--spacing-10);
      color: var(--grey-light);
      font-weight: var(--font-weight-medium);
      border-radius: var(--border-radius-lg);
      line-height: 0;

      @media (--screen-md-min) {
        padding: var(--spacing-10) var(--spacing-14);
      }

      &--icon {
        margin-right: var(--spacing-8);

        svg {
          width: 18px;
        }
      }
    }
  }
}
