@import 'variables';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: inherit;
  max-width: 100%;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus {
    @include focusOutset;
  }
}

li {
  list-style: none;
}

input[type='submit'],
button {
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    @include focusOutset;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
    scroll-behavior: auto !important;
  }
}
