@import './variables';

.btn {
  border: 1px solid $accent-primary;
  padding: 1rem 2rem;
  display: inline-block;
  color: $accent-primary;
  font-family: $font-stack-monospace;
  border-radius: 2px;
  transition: 0.4s ease-out;

  &:hover {
    background: transparentize($color: $accent-primary, $amount: 0.8);
    box-shadow: 0 0 5px $accent-primary, 0 0 25px $accent-primary,
      0 0 50px $accent-primary, 0 0 100px $accent-primary;
  }
}
