//  1. colors
$white: #fff;
$accent-primary: #faab32;

$dark-primary: #1a2130;
$dark-secondary: #1f2029;
$dark-tertiary: rgba(9, 9, 9, 0.28);

$grey-light: #c5d1f7;
$grey-dark: #7c85a0;

// Fonts
$font-stack-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-stack-monospace: 'Roboto Mono', monospace;

// 2. Media queries breakpoints
$site-width: 1100px;
// Small Phone: 320px(or less) - 539px
$screen-xs-min: 320px;

// Large Phone: 540px - 600px
$screen-sm-min: 540px;

// Large Phone: 600px - 767px
$screen-sm-mid-min: 600px;

// Tablet: 768px - 990px
$screen-md-min: 768px;

// Normal screen / Large Tablet: 991px - 1079px
$screen-lg-min: 991px;

//$screen-lg-min: 1080px ;

// Large screen / Wide Desktop: 1080px+
$screen-xl-min: 1080px;

// Add to prevent overlaps
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-mid-max: ($screen-sm-mid-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// 2. Media queries breakpoints
// Small Phone: 320px(or less) - 539px
$screen-xs-min: 320px;

// Large Phone: 540px - 600px
$screen-sm-min: 540px;

// Large Phone: 600px - 767px
$screen-sm-mid-min: 600px;

// Tablet: 768px - 990px
$screen-md-min: 768px;

// Normal screen / Large Tablet: 991px - 1079px
$screen-lg-min: 991px;

// Large screen / Wide Desktop: 1080px+
$screen-xl-min: 1080px;

// Media queries to prevent overlaps
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-mid-max: ($screen-sm-mid-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// Font Sizes
$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-heading: 35px;

@mixin focusOutset {
  outline: 2px dotted $accent-primary;
  outline-offset: 4px;
  // color: $accent-primary;
}
