.hero {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  margin-top: calc(var(--spacing-128) * -1);

  &__lead-text {
    font-size: var(--font-size-4xl);
    color: var(--grey-dark);
    margin-bottom: var(--spacing-24);

    &--highlight {
      color: var(--accent-primary);
    }
  }

  &__tag-text {
    font-size: calc(var(--font-size-4xl) * 1.5);
    color: var(--grey-light);
    margin-bottom: var(--spacing-24);
  }

  &__left {
    flex: 0.8;
  }

  &__desc-text {
    line-height: 2;
  }
}
