.main-header {
  inset: 0;
  height: fit-content;
  inset: 0;
  z-index: var(--z-index-layer-5);
  position: fixed;
  top: 0;

  &__fixed {
    background: rgba(22, 27, 37, 0.7);
    animation: HeaderSlideDown 0.5s ease-in-out;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(35px);
  }

  &__hidden {
    animation: SlideUp 0.4s ease-in-out forwards;
    position: sticky;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: auto;
    padding: var(--spacing-28) var(--spacing-16);

    @media (--screen-md-min) {
      padding: var(--spacing-24) var(--spacing-48);
    }
  }

  &__logo {
    font-size: var(--font-size-lg);
    color: var(--accent-primary);
  }
}

@keyframes HeaderSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes SlideUp {
  to {
    transform: translateY(-100%);
  }
}
