.app-link {
  &:focus {
    outline: 2px dotted var(--accent-primary);
  }

  &__btn {
    display: flex;
    width: fit-content;
    align-items: center;
    color: var(--accent-primary);
    padding: var(--spacing-4) var(--spacing-20);
    border-radius: var(--border-radius-md);
    border: 2px solid var(--accent-primary);
    transition: all 0.3s ease-in-out;
    background: transparent;

    &:hover,
    &:focus {
      background: var(--accent-primary);
      color: var(--white);
    }
  }
}
