.main-header {
  inset: 0;
  height: fit-content;
  z-index: var(--z-index-layer-5);
  position: fixed;
  backdrop-filter: blur(50px);

  &__fixed {
    /* stylelint-disable-next-line color-function-notation */
    background: rgba(var(--dark-tertiary-rgb), 0.5);
    backdrop-filter: blur(50px);
    animation: slide-down 0.5s ease-in-out;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  &__hidden {
    animation: slide-hide 0.4s ease-in-out forwards;
    position: fixed;
    background: var(--dark-tertiary);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: var(--spacing-28) var(--spacing-16);

    @media (--screen-md-min) {
      padding: var(--spacing-24) var(--spacing-48);
    }
  }

  &__logo {
    font-size: var(--font-size-lg);
    color: var(--accent-primary);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-hide {
  to {
    transform: translateY(-100%);
  }
}
