.blog-card {
  display: flex;
  transition: 0.4s cubic-bezier(0.5, 2, 0.6, 1);
  position: relative;
  border-radius: var(--border-radius-md);
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
  }

  &__excerpt {
    margin-bottom: var(--spacing-20);
    font-size: var(--font-size-xs);
  }

  &__title {
    font-weight: bolder;
    margin-bottom: var(--spacing-10);
    line-height: 2;

    &--link {
      display: block;

      &:hover {
        color: var(--accent-primary);
      }
    }
  }

  &__img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 2rem;
    margin-right: 2rem;
  }

  &__date {
    font-family: monospace;
    font-size: var(--font-size-xs);
  }
}

// Stacked variant of blog card
.blog-card-stacked {
  min-height: 300px;
  overflow: hidden;

  .blog-card__content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    background: rgba(22, 27, 37, 0.85);
    padding: var(--spacing-32);
    z-index: var(--z-index-layer-2);
  }

  .blog-card__img {
    position: absolute;
  }
}

.blog-card-inline {
  padding: var(--spacing-32);
  background: var(--dark-tertiary);
  display: grid;
  column-gap: var(--spacing-32);
  grid-template-columns: 1fr 2fr;

  .blog-card__title {
    font-size: 1.2rem;
  }

  .blog-card__content {
    p {
      color: #cacaca;
    }
  }

  .blog-card__img {
    max-height: 180px;
    position: relative;
  }
}
