.blog-card {
  transition: 0.4s cubic-bezier(0.5, 2, 0.6, 1);
  border: 1px solid rgba(#fff, 0.08);
  position: relative;
  display: flex;
  margin-bottom: 2rem;

  &:hover {
    transform: translateY(-5px);
  }

  &__excerpt {
    margin-bottom: 1.5rem;
    font-size: var(--font-size-xs);
  }

  &__title {
    font-weight: bolder;
    margin-bottom: 1rem;
    line-height: 2;

    &--link {
      display: block;

      &:hover {
        color: var(--accent-primary);
      }
    }
  }

  &__img {
    object-fit: cover;
  }

  &__date {
    font-family: monospace;
    font-size: var(--font-size-xs);
  }
}

// Stacked variant of blog card
.blog-card-stacked {
  min-height: 300px;
  overflow: hidden;

  .blog-card__content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    background: rgba(22, 27, 37, 0.85);
    padding: 2rem;
    z-index: 2;
  }

  .blog-card__img {
    position: absolute;
  }
}

.blog-card-inline {
  padding: 2rem;
  background: #161b25;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .blog-card__title {
    font-size: 1.2rem;
  }

  .blog-card__content {
    p {
      color: #cacaca;
    }
  }

  .blog-card__img {
    max-height: 180px;
    position: relative;
    padding-right: 2rem;
  }
}
