@import '../../assets/scss/variables';
@import '../../assets/scss/utils';

.hero {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;

  &__text {
    margin-right: 5rem;
  }

  &__lead {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    color: $white;

    span {
      color: $accent-primary;
    }
  }

  &__lead-2 {
    color: $grey-primary;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  &__description {
    color: $grey-primary;
    width: 70%;
    line-height: 2;
  }

  &__btn {
    margin-top: 2rem;
  }
}

@media screen and (max-width: $screen-lg-max) {
  .hero {
    &__text {
      margin-right: 0;
    }

    &__lead {
      font-size: 3.5rem;
    }

    &__lead-2 {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .hero {
    height: auto;

    &__description {
      width: 100%;
    }
  }
}

@media screen and (max-width: $screen-sm-mid-max) {
  .hero {
    &__lead {
      font-size: 2.5rem;
    }
  }
}
