.snap-section {
  max-width: var(--homepage-max-width);
  margin: auto;
  scroll-snap-align: none;
  min-height: auto;
  position: relative;

  @media (--screen-lg-min) {
    min-height: 100vh;
    scroll-snap-align: start;
  }
}
