:root {
  --white: #fff;
  --accent-primary: #faab32;
  --accent-primary-dark: #ab6809;
  //
  --dark-primary: #1a2130;
  --dark-tertiary: #161b25;
  --dark-light: #26324e;
  //
  --grey-light: #c5d1f7;
  --grey-dark: #7c85a0;
}
