:root {
  --z-index-layer-1: 1;
  --z-index-layer-2: 2;
  --z-index-layer-3: 3;
  --z-index-layer-4: 4;
  --z-index-layer-5: 5;

  // Border radius
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 1rem /* 16px */;
  --border-radius-md: 2rem /* 16px */;
  --border-radius-lg: 3rem;
}
