// Small Phone: 320px(or less) - 539px
$screen-xs-min: 320px;

// Large Phone: 540px - 600px
$screen-sm-min: 540px;

// Large Phone: 600px - 767px
$screen-sm-mid-min: 600px;

// Tablet: 768px - 990px
$screen-md-min: 768px;

// Normal screen / Large Tablet: 991px - 1079px
$screen-lg-min: 991px;

//$screen-lg-min: 1080px ;

// Large screen / Wide Desktop: 1080px+
$screen-xl-min: 1080px;

// Add to prevent overlaps
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-mid-max: ($screen-sm-mid-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
$site-width: 1100px;
