html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-size-base) var(--font-stack-main);
  background: var(--dark-primary);
  color: var(--grey-light);
  text-rendering: optimizeLegibility;
}

.app-container {
  margin: auto;
  padding: 0 var(--spacing-28);

  @media (--screen-md-min) {
    padding: 0 var(--spacing-40);
  }
}
