@import '../../assets/scss/_variables.scss';

.article {
  margin: 5rem auto;
  width: 75%;

  @media screen and (max-width: $screen-md-max) {
    width: 85%;
    margin-top: 1rem;
  }

  @media screen and (max-width: $screen-sm-max) {
    width: 95%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    @media screen and (max-width: $screen-md-max) {
      flex-direction: column;
    }
  }

  &__featured-img {
    position: relative;
    margin-right: 2rem;

    img {
      border-radius: 3px;
      width: 100%;
      margin-top: 1rem;
      max-height: 300px;
    }
  }

  a {
    color: $accent-primary;
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: $font-size-xxl * 1.2;
    font-weight: bold;
    margin-bottom: 1rem;

    @media screen and (max-width: $screen-md-max) {
      font-size: $font-size-xxl;
    }
  }

  &__date {
    font-family: $font-stack-monospace;
    color: $accent-primary;
    font-size: $font-size-xs;
    margin-bottom: 1rem;
  }

  &__content {
    margin-top: 3rem;
    font-family: $font-stack-serif;
    line-height: 2;
    word-wrap: break-word;

    p {
      line-height: 1.75rem;
      margin-bottom: 1.5rem;
      font: 100%/1.75 $font-stack-serif;
    }

    hr {
      height: 0.0625rem;
      background-color: $grey-dark;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $accent-primary;
      font-weight: bold;
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.9rem;
    }

    h5 {
      font-size: 0.8rem;
    }

    h6 {
      font-size: 0.7rem;
    }

    table {
      width: 100%;
      max-width: 44rem;
      border-collapse: collapse;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    thead {
      border-bottom: 0.0625rem;
      border-bottom-style: solid;
      border-color: $grey-light;
    }

    tfoot {
      border-top: 0.0625rem;
      border-top-style: solid;
      border-color: $grey-light;
    }

    th,
    td {
      padding: 0.875rem;
    }

    ol,
    ul {
      padding-inline-start: 2.25rem;
      margin-block-start: 1.25rem;
      margin-block-end: 1.25rem;
      line-height: 2rem;
    }

    ul li {
      list-style: circle;
    }

    ol li {
      list-style: decimal;
    }

    blockquote {
      border-left: 3px solid lighten($accent-primary, 2);
      padding: 0 0.75rem;
      font-style: italic;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }

    code,
    pre {
      border-radius: 0.75rem;
      padding: 1.5rem 2.5rem;
      line-height: 2.5rem;
      font-size: $font-size-sm;
      word-wrap: break-word;
      margin: 2rem 0;
    }

    pre code {
      padding: 0;
    }

    // Syntax highlighting edit
    code[class*='language-'],
    pre[class*='language-'] {
      background: #121620;
    }
  }
}
