.about {
  min-height: 100vh;
  display: flex;
  padding: var(--spacing-64) 0;
  margin-bottom: var(--spacing-64);
  justify-content: space-between;

  &__img {
    flex: 1;
    position: relative;
    display: flex;
    height: 350px;
    flex-direction: column;
    align-self: flex-start;
    margin: var(--spacing-64) var(--spacing-64) 0 0;

    &--img {
      object-fit: cover;
    }

    // Create an outline around the image
    &::after {
      content: '';
      border: 1px solid var(--accent-primary);
      height: 100%;
      width: 100%;
      position: absolute;
      top: var(--spacing-10);
      left: var(--spacing-10);
    }
  }

  &__heading {
    font-size: var(--font-size-3xl);
    color: var(--grey-light);
    font-weight: bold;

    &--highlight {
      color: var(--accent-primary);
    }
  }

  &__text {
    margin-bottom: var(--spacing-6);
    color: var(--grey-light);
    font-size: var(--font-size-sm);
  }

  &__content {
    color: var(--white);
    flex: 1.5;
    line-height: 2;

    a[target='_blank'] {
      text-decoration: underline;
      color: var(--accent-primary);
    }
  }

  .tools {
    margin-top: var(--spacing-16);

    &__tool {
      display: inline-flex;
      align-items: center;
      border: 1px solid rgba(150, 150, 150, 0.28);
      margin-right: var(--spacing-10);
      margin-bottom: var(--spacing-10);
      font-size: var(--font-size-xs);
      background: rgba(9, 9, 9, 0.28);
      padding: var(--spacing-10) var(--spacing-14);
      color: var(--grey-light);
      font-weight: 500;
      border-radius: 50rem;
      line-height: 0;

      &--icon {
        margin-right: var(--spacing-8);

        svg {
          width: 18px;
        }
      }
    }
  }
}
