@import '../../assets/scss/variables';

.site-footer {
  max-width: $site-width;
  margin: auto;
  padding: 5rem 3rem 10rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__lead-txt {
    font-size: $font-size-heading;
    font-weight: bold;
    margin-bottom: 2rem;
    color: $accent-primary;

    @media screen and (max-width: $screen-md-max) {
      font-size: $font-size-xxl;
    }
  }

  &__desc {
    margin-bottom: 3rem;
    text-align: center;
    width: 70%;
    line-height: 2;

    @media screen and (max-width: $screen-md-max) {
      width: 100%;
    }
  }
}
