.scroll-indicator {
  position: fixed;
  right: 20px;
  top: 50vh;
  transform: translateY(-50%);

  &__item {
    background: var(--white);
    height: 12px;
    width: 12px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    &--active {
      font-size: 0.8rem;
      line-height: 1.5;
      background: var(--accent-primary);
    }
  }
}

.indicator:hover:not(.active) {
  font-size: 0.6rem;
  line-height: 1.5;
}
