.experience {
  &__title {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2;
    span {
      color: var(--accent-primary);
    }
  }

  &__duration {
    color: var(--grey-dark);
    font-family: var(--font-stack-monospace);
    font-size: var(--font-size-xs);
  }

  &__description {
    width: 80%;
    margin: auto;

    li {
      list-style: circle;
      margin-bottom: 1rem;
    }
  }
}
