@import '../../assets/scss/_variables.scss';

.blog-page {
  width: 80%;
  margin: 4rem auto;
  font-size: $font-size-sm;

  @media screen and (max-width: $screen-lg-min) {
    width: 100%;
    margin-top: 1rem;
  }
}
