@import '../../assets/scss/variables';

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
  width: 100%;
  position: absolute;

  &__logo {
    font-size: 1.5rem;
    color: $accent-primary;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .main-header {
    padding: 2rem;
    top: 0;
  }
}
