@import '../../assets/scss/variables';

.overlay {
  &__nav {
    li {
      list-style: none;
      display: inline-block;
      margin-left: 2rem;
    }

    li a {
      color: $grey-light;
      font-size: $font-size-xs;
      font-family: $font-stack-monospace;
      transition: 0.4s ease-out color;
      border: 2px dotted transparent;

      &:hover {
        color: $accent-primary;
      }

      &:focus {
        @include focusOutset;
      }
    }
  }
}
@media screen and (max-width: $screen-md-max) {
  .hamburger {
    position: relative;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease-out;

    &__line {
      background: $white;
      height: 2px;
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        width: 100%;
      }

      &--1 {
        width: 40%;
      }

      &--2 {
        width: 70%;
        top: 11px;
      }

      &--3 {
        width: 100%;
        top: 22px;
      }
    }

    &__active {
      position: fixed;
      top: 7%;
      right: 9%;

      .hamburger__line--1 {
        transform: translateY(11px) translateX(0) rotate(45deg);
        width: 100%;
      }

      .hamburger__line--3 {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        width: 100%;
      }

      .hamburger__line--2 {
        opacity: 0;
      }
    }

    &:hover {
      .hamburger__line {
        width: 100%;
      }
    }
  }

  .overlay {
    position: fixed;
    background: lighten($color: $dark-primary, $amount: 10%);
    padding-right: 3rem;
    z-index: 90;
    top: 0;
    right: 0;
    width: 0; // transitioning in fly-out menu
    height: 0;
    opacity: 0;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s, width 0.2s;
    box-shadow: 0 0 5rem 50rem rgba($dark-primary, 80%);

    &__open {
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      width: 40%;
    }

    &__open li {
      animation: slideIn 0.5s ease forwards;
      animation-delay: 0.3s;
    }

    &__nav {
      position: relative;
      height: 70%;
      top: 50%;
      padding-top: 2rem;
      transform: translateY(-50%);
      text-align: right;
    }

    ul {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    li {
      position: relative;
      margin-bottom: 2rem;
      opacity: 0;
      display: block;
    }

    li a {
      display: block;
      font-size: $font-size-xl;

      &:hover {
        color: $accent-primary;
      }
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      left: 5%;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .overlay {
    &__open {
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      width: 70%;
    }
  }
}
