@import '../../../assets/scss//variables';

.about {
  display: flex;
  padding-bottom: 6rem;
  justify-content: space-between;

  &__img {
    flex: 1;
    position: relative;

    &--img {
      position: relative;
      border-radius: 5px;
      filter: brightness(60%) saturate(50%);
      transition: 0.4s ease-out;
      width: 300px;

      &:hover {
        filter: none;
      }
    }
  }

  &__heading {
    font-size: $font-size-heading * 1.5;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: $grey-light;

    span {
      color: $accent-primary;
    }
  }

  &__content {
    color: $white;
    flex: 2;
    line-height: 2;
    margin-right: 4rem;

    a[target='_blank'] {
      text-decoration: underline;
      color: $accent-primary;
    }

    p {
      margin-bottom: 0.5rem;
      color: $grey-light;
    }
  }

  .tools {
    margin-top: 1rem;
    &__tool {
      display: inline-flex;
      align-items: center;
      margin-right: 0.5rem;
      margin-bottom: 0.8rem;
      font-size: 0.8rem;
      background: rgba(9, 9, 9, 0.28);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 30px;
      padding: 0.7rem 1rem;
      line-height: 0;
      color: $grey-light;

      &--icon {
        margin-right: 0.5rem;
        svg {
          width: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  .about {
    flex-direction: column;
    &__content,
    &__img {
      flex: 1;
      margin: auto;
    }

    &__img {
      width: 250px;
      margin-top: 2rem;
      &--img {
        filter: none;
      }
    }
  }
}
