@import '../../../assets/scss//variables';

.about {
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;

  &__img {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    align-self: flex-start;

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border: 1px solid $accent-primary;
      top: 10px;
      left: 10px;
      pointer-events: none;
    }

    &--img {
      align-self: flex-end;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  &__heading {
    font-size: $font-size-heading;
    font-weight: 600;
    color: $grey-light;

    span {
      color: $accent-primary;
    }
  }

  &__content {
    color: $white;
    flex: 1.5;
    line-height: 2;

    a[target='_blank'] {
      text-decoration: underline;
      color: $accent-primary;
    }

    p {
      margin-bottom: 0.5rem;
      color: $grey-light;
    }
  }

  .tools {
    margin-top: 1rem;

    &__tool {
      display: inline-flex;
      align-items: center;
      margin-right: 0.5rem;
      margin-bottom: 0.8rem;
      font-size: 0.8rem;
      background: rgba(9, 9, 9, 0.28);
      border: 1px solid rgba($white, 0.15);
      border-radius: 30px;
      padding: 0.7rem 1rem;
      line-height: 0;
      color: $grey-light;

      &--icon {
        margin-right: 0.5rem;
        svg {
          width: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  .about {
    flex-direction: column;
    &__content,
    &__img {
      flex: 1;
      margin: auto;
    }

    &__img {
      width: 100%;
      margin-bottom: 2rem;
      width: 65%;

      &::after {
        top: 5px;
        left: 5px;
      }
    }
  }
}
