@import '../../assets/scss/reset';
@import '../../assets/scss/variables';

body {
  font-family: $font-stack-main;
  background: $dark-primary;
  color: $grey-light;
  line-height: 1.3;
}

.site-wrapper {
  padding: 0 6rem;
}

@media screen and (max-width: $screen-lg-max) {
  .site-wrapper {
    padding: 0 2rem;
  }
}
