@import '../../assets/scss/reset';
@import '../../assets/scss/variables';

body {
  font-family: $font-stack-main;
  background: $dark-primary;
  color: $grey-light;
  line-height: 1.5;
}

.site-wrapper {
  max-width: $site-width;
  margin: auto;
  padding: 0 2rem;

  @media screen and (max-width: $screen-md-max) {
    padding: 0;
  }
}

@media screen and (max-width: $screen-lg-max) {
  .site-wrapper {
    width: auto;
    padding: 0 2rem;
  }
}

.section {
  margin-bottom: 8rem;

  &__title {
    font-size: $font-size-heading;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
