.blog-page {
  max-width: 800px;
  margin: auto;

  &__title {
    font-size: var(--font-size-3xl);
    margin-bottom: var(--spacing-32);
  }

  .blog-card {
    margin-bottom: var(--spacing-24);
  }
}
