.site-footer {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-80) var(--spacing-40);

  &__lead-txt {
    font-size: var(--font-size-3xl);
    font-weight: bold;
    margin-bottom: var(--spacing-24);
    color: var(--accent-primary);
  }

  &__txt {
    margin-bottom: var(--spacing-24);
    text-align: center;
    line-height: 2;
  }
}
