.site-footer {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 3rem 10rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: var(--screen-md-max)) {
    padding-bottom: 5rem;
  }

  &__lead-txt {
    font-size: var(--font-size-heading);
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--accent-primary);

    @media screen and (max-width: var(--screen-md-max)) {
      font-size: var(--font-size-xxl);
    }
  }

  &__desc {
    margin-bottom: 3rem;
    text-align: center;
    width: 70%;
    line-height: 2;

    @media screen and (max-width: var(--screen-md-max)) {
      width: 100%;
    }
  }
}
