.fp-scroll {
  overflow: hidden;
  height: 100vh;

  @media screen and (max-width: 1000px) {
    overflow: auto;
    height: auto;
  }

  &__section {
    position: relative;
    user-select: none;
    // top: -100vh;

    @media screen and (max-width: 1000px) {
      position: static;
      transition: all 1s ease;
    }

    &--transitioning {
      transition: all 1s ease;
    }
  }

  &__click-mask {
    height: 100vh;
    width: 100vw;
    position: absolute;
    pointer-events: none;
    inset: 0;
    z-index: 500;
  }
}
