.app-footer {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (--screen-md-min) {
    margin: var(--spacing-128) 0;
  }

  &__container {
    &--full-height {
      min-height: 100vh;
    }

    display: flex;
    justify-content: center;
  }

  &__lead-txt {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-24);
    color: var(--accent-primary);

    @media (--screen-md-min) {
      font-size: var(--font-size-3xl);
    }
  }

  &__txt {
    margin-bottom: var(--spacing-24);
    text-align: center;
    line-height: 2;
    font-size: var(--font-size-sm);

    @media (--screen-md-min) {
      font-size: var(--font-size-base);
    }
  }
}
