.site-footer {
  margin: var(--spacing-128) 0;
  padding: var(--spacing-120) var(--spacing-20);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__lead-txt {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-24);
    color: var(--accent-primary);

    @media (--screen-md-min) {
      font-size: var(--font-size-3xl);
    }
  }

  &__txt {
    margin-bottom: var(--spacing-24);
    text-align: center;
    line-height: 2;
    font-size: var(--font-size-sm);

    @media (--screen-md-min) {
      font-size: var(--font-size-base);
    }
  }
}
