*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
}
