@import './partials/index';
@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font: var(--font-size-base) var(--font-stack-main);
  background: var(--dark-primary);
  color: var(--grey-light);
  line-height: 1.5;
}

.site-wrapper {
  margin: auto;
  padding: 0 var(--spacing-40);
}

.app-container {
  max-width: 1000px;
  margin: auto;
}

@import '../modules/mainHeader/Header/Header';
@import '../modules/mainHeader/Navbar/Navbar';
@import '../modules/project/ProjectCard/ProjectCard';
@import '../modules/blog/BlogCard/BlogCard';
@import '../modules/blog/BlogSection/BlogSection';
@import '../modules/blog/BlogPost/BlogPost';

@import '../components/HeroSection/HeroSection';
@import '../components/AboutSection/AboutSection';
@import '../components/ui/AppAccordion/AppAccordion';
@import '../components/ExperienceSection/ExperienceSection';
@import '../components/ProjectSection/ProjectSection.scss';
@import '../components/SoclalLinks/SocialLinks';
@import '../components/SiteFooter/SiteFooter';

// Pages
@import './pages/BlogPage';
