.social-links {
  display: flex;

  &__list {
    margin-bottom: var(--spacing-24);
    color: var(--white);
  }

  &__link {
    border-radius: 50%;
    border: 1px solid var(--grey-light);
    width: var(--spacing-32);
    height: var(--spacing-32);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-out;

    &:hover {
      border-color: var(--accent-primary);

      svg path {
        fill: var(--accent-primary);
      }
    }

    &:focus {
      border-color: var(--accent-primary);

      svg path {
        fill: var(--accent-primary);
      }
    }
  }

  svg {
    width: 18px;
    height: 18px;

    path {
      transition: 0.4s ease-out;
      stroke-width: 0;
      fill: var(--grey-light);
    }
  }

  &__stacked {
    flex-direction: column;

    .social-links--list {
      margin-bottom: var(--spacing-32);
    }
  }

  &__inline {
    flex-direction: row;

    .social-links--list {
      margin-right: var(--spacing-32);
    }
  }
}
