.article {
  margin: 5rem auto;
  width: 75%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    margin: 2rem 0;
    height: 1px;
    background: var(--grey-dark);
  }

  &__featured-img {
    object-fit: cover;
    width: 300px;
    height: 200px;
  }

  &__title {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    margin: 2rem 1rem 1rem 0;
  }

  &__date {
    font-family: var(--font-stack-monospace);
    color: var(--accent-primary);
    font-size: var(--font-size-xs);
    margin-bottom: 1rem;
  }

  &__content {
    margin-top: 3rem;
    font-family: var(--font-stack-serif);
    line-height: 2;

    // Markdown generated links
    a {
      color: var(--accent-primary);

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      line-height: 3;
      word-wrap: break-word;
      margin-bottom: 1.5rem;
      font-family: var(--font-stack-serif);
    }

    hr {
      height: 0.0625rem;
      background-color: var(--grey-dark);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--accent-primary);
      font-weight: bold;
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.9rem;
    }

    h5 {
      font-size: 0.8rem;
    }

    h6 {
      font-size: 0.7rem;
    }

    table {
      width: 100%;
      max-width: 44rem;
      border-collapse: collapse;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    thead {
      border-bottom: 0.0625rem;
      border-bottom-style: solid;
      // border-color: $grey-light;
    }

    tfoot {
      border-top: 0.0625rem;
      border-top-style: solid;
      // border-color: $grey-light;
    }

    th,
    td {
      padding: 0.875rem;
    }

    ol,
    ul {
      padding-inline-start: 2.25rem;
      margin-block-start: 1.25rem;
      margin-block-end: 1.25rem;
      line-height: 2rem;
    }

    ul li {
      list-style: circle;
    }

    ol li {
      list-style: decimal;
    }

    blockquote {
      // border-left: 3px solid lighten(var(--accent-primary), 2);
      padding: 0 0.75rem;
      font-style: italic;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }

    pre {
      background: var(--dark-secondary);
      border: 1px solid #414141;
    }

    code {
      font-family: var(--font-stack-monospace);
      font-size: 0.9rem;
      color: var(--grey-dark);
      background: var(--dark-secondary);
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
    }

    // Syntax highlighting edit
    code[class*='language-'],
    pre[class*='language-'] {
      background: #121620;
    }
  }
}
